<h2> Que veut dire typescript </h2>
<div>
  <p>  TypeScript est un langage de programmation à typage statique basé sur JavaScript , il nous permet aussi de profiter
    des avantages de poo
  </p>
</div>
<h2> Que veut dire ES6 </h2>
<div>
  <p>  ECMAScript est la spécification standardisée d'un langage de script,
    et JavaScript est l'implémentation la plus connue de cette spécification
    ECMAScript définit les spécifications d'un langage, telles que la syntaxe,
    les types de données, les structures de contrôle, les fonctions
  </p>
</div>

<h2> Que veut dire Data binding en angular </h2>
<div>
  <p>
    Le data binding en Angular est un mécanisme qui permet de synchroniser les données entre le component TypeScript et la vue HTML
  </p>
  <ul>
    <li>
      Use interpolation  C ===> V to display the value of this variable in the corresponding component template {{interpolation}}
    </li>
    <li>
      propriété banding C ===> V en utilisant ngModule []
    </li>
    <li>
      event binding ()  C <=== V les évènements générer par le view est capturé par le Contrôleur
    </li>
    <li>
      two way binding [()]  C <===> V c'est de passer les données du view vers le Contrôleur at au meme temps du Contrôleur vers le vies
    </li>
  </ul>
</div>


<h2> Que veut dire Angular Module </h2>
<div>
  <p>  Un module Angular est un mécanisme permettant de regrouper les différents éléments d'une application Angular.
    Il s'agit d'une classe TypeScript décorée avec @NgModule().
    Un module peut contenir des composants, des directives, des services, des pipes,
  </p>
</div>

<h2>Que veut dire Lazy Loading  </h2>
<div>
  <p>veut dire un chargement a la demande ça veut dire que angular ne charge pas
    tous les modules mais en un seul cout  plutot il charge a chaque fois qu'on demande un accès a un module
    ce qu'il rend le chargement plus fluide et donne une meilleur expérience utilisateur    </p>
</div>

<h2>Que veut dire un service  </h2>
<div>
  <p>un service en Angular est une classe injectable  utilisée pour encapsuler la logique métier,
    les fonctionnalités réutilisables ou la gestion des données au sein d'une application  </p>
</div>

<h2>Injection de depandance</h2>
<div>
  <p>L'injection de dépendance est l'un des mécanismes couramment utilisés pour mettre en œuvre le pattern l'IoC dans la pratique
  il consiste a délégué la creation des classe et fonction a d'autre partié
  </p>
</div>




<h2> Que veut dire les directives angular</h2>
<div>
  <p>
    Les directives sont des classes décorés par @dirctive qui nous permet d'ajouter et dissimuler un
    element au DOM ou de changer le comportement d'un element dans le dom

    Il existe deux types principaux de directives en Angular :

    Directives structurelles : Elles modifient la structure du DOM en ajoutant, supprimant ou remplaçant des éléments DOM en fonction de certaines conditions.
    Par exemple, *ngIf, *ngFor, *ngSwitch.

    Directives d'attribut : Elles modifient l'apparence ou le comportement des éléments DOM en manipulant directement leurs attributs.
    Par exemple, ngStyle, ngClass.
  </p>
</div>

<h2> Quelles sont les différences entre angular component et angular directive</h2>

<h2>Que veut dire un décorateur et annotations meta-data </h2>
<div>
  <p> des annotations permettant a angular de savoir le type de la classe s'il s'agit d'un component ou bien module ou pipe directive   </p>
</div>

<h2>Que veut dire un template </h2>
<div>
  <p>c'est le  html view d'un component  </p>
</div>

