<section>
    <h1>{{  225.789545 | currency : 'EUR': 'symbol' : '2.3-3' }}</h1>
  <div>
    <h1>{{ 1234.5 | currency:'EUR':'code':'1.2-2' }}</h1>

  </div>
</section>
<section>
  <div>
    <p>
      <span>Undefined</span> : soit ue variable non déclarée ou une variable non initialisée
    </p>
    <p>
      <span>Null</span> :  Qui  représente l'absence intentionnelle de valeur. Autrement dit : "il n’y a rien ici, et c’est voulu. donc elle différente d'une chaine de caractère vide ou un objet vide ou un tableau vide;
    </p>
    <p>
      <span>Nan</span> : Not a Number est une valeur spéciale de javascript pour indiquer qu'une opération censé de retourner un number a échoué  exemple: return walid + 25 ;
    </p>
  </div>
  <div>
    <p>
      <span>Note:</span> undefined et null sont égaux si on ne vérifier pas le type de la variable ,
                    <br> null n'égale ni une chaine de caractère vide ni un tableau vide
                    <br> Nan n'ai pas comparable avec n'importe quel  autre tye meme nan = nan retourne False

    </p>
  </div>
</section>

<div>
  <section><H1>Hello Word</H1></section>
</div>
<p> Hello Test For Css</p>
<span> Hello Test For Css</span>

<p> Hello Test For Css</p>

<form id="formulaire">
  <div>
    <a href="https://www.lequipe.fr/_medias/img-photo-jpg/walid-acherchour-jeudi-a-boulogne-billancourt-a-mounic-l-equipe/1500000002099997/48:186,1990:1480-828-552-75/837b4">
      <img src="https://www.lequipe.fr/_medias/img-photo-jpg/walid-acherchour-jeudi-a-boulogne-billancourt-a-mounic-l-equipe/1500000002099997/48:186,1990:1480-828-552-75/837b4" alt="bannière cliquable">
    </a>
  </div>
</form>

